{% import 'macros.html' as macros %}

<!DOCTYPE html>
<html color-mode="user" lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>
    {% block title %}
    {{ config.title }}
    {% endblock title %}
  </title>

  <!-- <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">-->
  <link rel="stylesheet" href="https://unpkg.com/mvp.css">

  <style>
    img {
      max-width: 800px;
      height: auto;
      max-height: 600px;
    }
  </style>



  {% block head %} {% endblock %}
</head>

<body>



  {% include 'header.html' %}

  <main class="container" style="padding-top: 0; padding-bottom: 0;">
    {% block content %} {% endblock %}
  </main>

  {% include 'footer.html' %}

</body>

</html>