{% macro render_tags(tags) %}
{% for tag in tags %}
<a class="button" href="{{ get_taxonomy_url(kind='tags', name=tag) }}">
    {{tag}}
</a>
{% endfor %}
{% endmacro %}


{% macro render_series(series) %}
<p class="notice">
    <em>
        This post is part of the series
        {% for s in series %}<a href="{{ get_taxonomy_url(kind='series', name=s) }}">{{s}}</a>{% endfor %}.
    </em>
</p>
{% endmacro %}


{% macro page_summary(page) %}
<a href="{{ page.permalink }}">{{ page.title }}</a>
{% endmacro %}

{% macro post_summary(page) %}
{% if page.date is defined %}
<span>
    <i>
        <time datetime="{{ page.date | date(format='%+') }}" pubdate>
            {{ page.date | date(format=config.extra.date_format) }}
        </time>

    </i>
</span>
{% endif %}
<a href="{{ page.permalink }}">{{ page.title }}</a>
{% endmacro %}

{% macro post_summary_image(page) %}
{% if page.extra.image is defined %}
<img src="/{{ page.extra.image }}" style="max-height: 300px; width: auto;">
{% endif %}
<h3><a href="{{ page.permalink }}">{{ page.title }}</a></h3>
{% if page.date is defined %}
<p>
    <i>
        <time datetime="{{ page.date | date(format='%+') }}" pubdate>
            {{ page.date | date(format=config.extra.date_format) }}
        </time>

    </i>
</p>
{% endif %}


{% endmacro %}